.Home {
    padding: 98px 5% 70px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background-color: #484283;
    color: white;
}
.home-title-1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    max-width: 50%;
}
.home-title-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 50%;
}
.home-btn {
    padding: 22px 47px 22px 47px;
    background-color: #F14F4F;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.home-btn:hover {
    background-color: #cd4646;
}
.home-backText {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    font-family: "Intro", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    color: rgba(255, 255, 255, 0.12);
    transform: translate(-50%,-150%);
}

@media screen and (max-width: 1030px) {
    .home-backText {
        display: none;
    }
}